
  <div class="homePageContent container">
    <div class="row">
      <div class="col-1">
        <!--Maybe place an add type bar here-->
      </div>
      <div class="col-10">
        <h1 class="welcome centerThis">Welcome to our webpage!</h1>
        <p class="centerThis ">Lorem ipsum dolor amet gastropub pickled kogi coloring book lomo.
          Green juice disrupt gochujang PBR&B, shoreditch single-origin coffee
          shabby chic food truck fingerstache 3 wolf moon glossier truffaut authentic.
          Distillery offal pug pitchfork tote bag gochujang portland. Quinoa hexagon
          kinfolk forage stumptown tote bag. Forage next level wolf woke butcher
          DIY literally tousled 90's microdosing.</p>

        <div class="search">
          <input
            class="form-control container-fluid"
            placeholder="What are you hungry for?"
          />
          <button
            class="btn btn-dark btn-block">
            Search for recipes!
          </button>
        </div>

        <h1 class="welcome2 centerThis">Or...</h1>
        <p class="centerThis ">Have a list of ingredients? Great! Search using what you have by typing in an ingredient
        and separating multiple ingredients with a comma. </p>

        <div class="search">
          <input
            class="form-control container-fluid"
            placeholder="Recipes by ingredients."
          />
          <button
            class="btn btn-dark btn-block">
            Search for recipes!
          </button>
        </div>


      </div>
      <div class="col-1">
        <!--Maybe place an add type bar here-->
      </div>
    </div>
  </div>

