<div class="registerPageContent container">
  <div class="row">
    <div class="col-1">
      <!--Maybe place an add type bar here-->
    </div>
    <div class="col-10">
      <h1 class="welcome centerThis">Welcome to Panfree, taste the possibilities!</h1>

      <div class="register">
        <input
          class="form-control container-fluid"
          placeholder="Username"
        />
        <input
          class="form-control container-fluid"
          placeholder="Password"
        />
        <input
          class="form-control container-fluid"
          placeholder="Confirm Password"
        />
        <button
          class="btn btn-dark btn-block">
          <!--(click)="login(username, password)"-->
          Register
        </button>
      </div>
    </div>
    <div class="col-1">
      <!--Maybe place an add type bar here-->
    </div>
  </div>
</div>

