
<!--<div class="container-fluid row">-->
  <!--<div class="col-2"></div>-->
  <!--<div class="col-8 centerThis">-->
    <!--<h1 class="profileHeader">Have an information to update?</h1>-->

    <!--<div class="row">-->
      <!--<div class="col-2">-->
        <!--<label>Username: </label>-->
      <!--</div>-->
      <!--<div class="col-10">-->
        <!--<input-->
               <!--class="form-control container-fluid"-->
               <!--placeholder="username"/>-->
        <!--&lt;!&ndash;[(ngModel)]="username"&ndash;&gt;-->

      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-2">-->
        <!--<label>Password: </label>-->
      <!--</div>-->
      <!--<div class="col-10">-->
        <!--<input-->
               <!--class="form-control container-fluid"-->
               <!--placeholder="password"/>-->
        <!--&lt;!&ndash;[(ngModel)]="password"&ndash;&gt;-->


      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-2">-->
        <!--<label>First Name: </label>-->
      <!--</div>-->
      <!--<div class="col-10">-->
        <!--<input-->
               <!--class="form-control container-fluid"-->
               <!--placeholder="First Name"-->
        <!--/>-->
        <!--&lt;!&ndash;[(ngModel)]="firstName"&ndash;&gt;-->


      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-2">-->
        <!--<label>Last Name: </label>-->
      <!--</div>-->
      <!--<div class="col-10">-->
        <!--<input-->
               <!--class="form-control container-fluid"-->
               <!--placeholder="Last Name"/>-->
        <!--&lt;!&ndash;[(ngModel)]="lastName"&ndash;&gt;-->

      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-2">-->
        <!--<label>Phone: </label>-->
      <!--</div>-->
      <!--<div class="col-10">-->
        <!--<input-->
               <!--class="form-control container-fluid"-->
               <!--placeholder="Phone Number"-->
        <!--/>-->
        <!--&lt;!&ndash;[(ngModel)]="phoneNumber"&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-2">-->
        <!--<label>Email: </label>-->
      <!--</div>-->
      <!--<div class="col-10">-->
        <!--<input-->
               <!--class="form-control container-fluid"-->
               <!--placeholder="email"/>-->
        <!--&lt;!&ndash;[(ngModel)]="email"&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-2">-->
        <!--<label>Address: </label>-->
      <!--</div>-->
      <!--<div class="col-10">-->
        <!--<input-->
               <!--class="form-control container-fluid"-->
               <!--placeholder="Address"/>-->
        <!--&lt;!&ndash;[(ngModel)]="address"&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-2">-->
        <!--<label>City: </label>-->
      <!--</div>-->
      <!--<div class="col-10">-->
        <!--<input-->
               <!--class="form-control container-fluid"-->
               <!--placeholder="City"/>-->
        <!--&lt;!&ndash;[(ngModel)]="city"&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-2">-->
        <!--<label>State: </label>-->
      <!--</div>-->
      <!--<div class="col-10">-->
        <!--<input-->
               <!--class="form-control container-fluid"-->
               <!--placeholder="State"/>-->
        <!--&lt;!&ndash;[(ngModel)]="state"&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-2">-->
        <!--<label>Zip Code: </label>-->
      <!--</div>-->
      <!--<div class="col-10">-->
        <!--<input-->
               <!--class="form-control container-fluid"-->
               <!--placeholder="zip"/>-->
        <!--&lt;!&ndash;[(ngModel)]="zip"&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-2">-->

      <!--</div>-->
      <!--<div class="col-10">-->
        <!--<button-->
                <!--class="btn btn-primary btn-block">-->
          <!--&lt;!&ndash;(click)="update()"&ndash;&gt;-->
          <!--Update-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="col-2"></div>-->
  <!--</div>-->


  <!--<div class="col-2"></div>-->
  <!--&lt;!&ndash;<div class="col-8 container-fluid">&ndash;&gt;-->
    <!--&lt;!&ndash;<br/>&ndash;&gt;-->
    <!--&lt;!&ndash;<h2 class="profileHeader centerThis">&ndash;&gt;-->
      <!--&lt;!&ndash;Sections You're Enrolled In:&ndash;&gt;-->
      <!--&lt;!&ndash;({{sections.length}})</h2>&ndash;&gt;-->

    <!--&lt;!&ndash;<ul class="list-group">&ndash;&gt;-->
      <!--&lt;!&ndash;<li&ndash;&gt;-->
        <!--&lt;!&ndash;*ngFor="let section of sections"&ndash;&gt;-->
        <!--&lt;!&ndash;class="list-group-item">&ndash;&gt;-->
        <!--&lt;!&ndash;<div routerLink="/course/{{section.sectionId.courseId}}"&ndash;&gt;-->
             <!--&lt;!&ndash;class="float-left">&ndash;&gt;-->
          <!--&lt;!&ndash;{{section.sectionId.name}}&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<button&ndash;&gt;-->
          <!--&lt;!&ndash;class="float-right btn btn-danger"&ndash;&gt;-->
          <!--&lt;!&ndash;(click)="unenroll(section)">&ndash;&gt;-->
          <!--&lt;!&ndash;Un-enroll&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-2"></div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->





<!--</div>-->



<div class="profilePageContent container">
  <div class="row">
    <div class="col-1">
      <!--Maybe place an add type bar here-->
    </div>
    <div class="col-10">
      <h1 class="welcome centerThis">Have any info to update?</h1>

      <div class="login">
        <div class="row">
          <div class="col-2">
            <label>Username: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="username"/>
            <!--[(ngModel)]="username"-->

          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>Password: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="password"
              type="password"
            />
            <!--[(ngModel)]="password"-->


          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>First Name: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="First Name"
            />
            <!--[(ngModel)]="firstName"-->


          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>Last Name: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="Last Name"/>
            <!--[(ngModel)]="lastName"-->

          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>Phone: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="Phone Number"
            />
            <!--[(ngModel)]="phoneNumber"-->
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>Email: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="email"/>
            <!--[(ngModel)]="email"-->
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>Address: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="Address"/>
            <!--[(ngModel)]="address"-->
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>City: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="City"/>
            <!--[(ngModel)]="city"-->
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>State: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="State"/>
            <!--[(ngModel)]="state"-->
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>Zip Code: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="zip"/>
            <!--[(ngModel)]="zip"-->
          </div>
        </div>

        <div class="row">
          <div class="col-2">

          </div>
          <div class="col-10">
            <button
            class="updateButton btn btn-dark btn-block">
            <!--(click)="update()"-->
            Update
          </button>
            <button
              class="pantryButton btn btn-secondary btn-block">
              <!--(click)="update()"-->
              Let's go to our pantry!
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <!--Maybe place an add type bar here-->
    </div>
  </div>
</div>

