<div class="container-fluid row">
  <div class="col-3"></div>
  <div class="col-6 centerThis">
    <h1 class="loginHeader">Login here!</h1>
    <input [(ngModel)]="username"
           class="form-control"
           placeholder="Username"/>
    <input [(ngModel)]="password"
           class="form-control"
           placeholder="Password"/>
    <button (click)="login(username, password)"
            class="btn btn-primary btn-block">
      Login
    </button>
    <a routerLink="/home">Home</a> |
    <a routerLink="/login">Login</a> |
    <a routerLink="/register">Register</a>
  </div>
  <div class="col-3"></div>
</div>
